# Dep
node_modules/
**/node_modules/

# Builds
dist/
build/
**/dist/
**/build/

# Env
.env
.env.*
!.env.example
**/.env
**/.env.*

# Logs
*.log
npm-debug.log*
logs/

# Cache
.vite/
.cache/
*.local

# Sys
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
